OLLAMA_MODEL=gemma3
OLLAMA_EMBEDDING_MODEL=embeddinggemma
QUEUE_POLL_SECONDS=5


# Connector placeholders
MLFLOW_BASE_URL=https://mlflow.example.com
MLFLOW_TOKEN=__REPLACE_ME__
AZURE_ML_BASE_URL=https://management.azure.com/subscriptions/__SUB__/resourceGroups/__RG__/providers/Microsoft.MachineLearningServices/workspaces/__WS__
AZURE_ML_BEARER_TOKEN=__REPLACE_ME__
AZURE_SUBSCRIPTION_ID=__REPLACE_ME__
AZURE_RESOURCE_GROUP=__REPLACE_ME__
AZURE_ML_WORKSPACE=__REPLACE_ME__
FIGMA_BASE_URL=https://api.figma.com
FIGMA_TOKEN=__REPLACE_ME__
FIGMA_FILE_KEY=__REPLACE_ME__
GOOGLE_DRIVE_BASE_URL=https://www.googleapis.com
GOOGLE_DRIVE_BEARER_TOKEN=__REPLACE_ME__
GOOGLE_DRIVE_FOLDER_ID=__REPLACE_ME__
PUBMED_BASE_URL=https://eutils.ncbi.nlm.nih.gov
PUBMED_EMAIL=__REPLACE_ME__
PUBMED_API_KEY=__REPLACE_ME__
ARXIV_BASE_URL=http://export.arxiv.org
KAGGLE_BASE_URL=https://www.kaggle.com/api/v1
KAGGLE_USERNAME=__REPLACE_ME__
KAGGLE_KEY=__REPLACE_ME__
OVERLEAF_BASE_URL=https://overleaf.example.com
OVERLEAF_BEARER_TOKEN=__REPLACE_ME__
OVERLEAF_PROJECT_ID=__REPLACE_ME__
NOTEBOOKLM_BASE_URL=https://notebooklm.example.com
NOTEBOOKLM_BEARER_TOKEN=__REPLACE_ME__
NOTEBOOKLM_NOTEBOOK_ID=__REPLACE_ME__
DRAWIO_BASE_URL=https://drawio.example.com
MERMAID_BASE_URL=https://mermaid.example.com
CANVAS_BASE_URL=https://canvas.example.com
CANVAS_BEARER_TOKEN=__REPLACE_ME__
CANVAS_WORKSPACE_ID=__REPLACE_ME__
ANTIGRAVITY_BASE_URL=https://antigravity.example.com
ANTIGRAVITY_BEARER_TOKEN=__REPLACE_ME__
ANTIGRAVITY_WORKSPACE_ID=__REPLACE_ME__
VSCODE_BASE_URL=https://vscode.example.com
VSCODE_BEARER_TOKEN=__REPLACE_ME__
VSCODE_WORKSPACE_PATH=/workspace/project
